@font-face {
  font-family: 'DoHyeon';
  src: url('/fonts/DoHyeon/DoHyeon-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SSP';
  src: url('/fonts/SourceSans/sourcesanspro-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SSPBK';
  src: url('/fonts/SourceSans/sourcesanspro-black.ttf') format('truetype');
}

@font-face {
  font-family: 'Bebas';
  src: url('/fonts/Bebas/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SSPB';
  src: url('/fonts/SourceSans/sourcesanspro-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SSPL';
  src: url('/fonts/SourceSans/sourcesanspro-light.ttf') format('truetype');
}

@font-face {
  font-family: 'socialtype';
  src: url('/fonts/socialtype/SocialType.ttf') format('truetype');
}

@font-face {
  font-family: 'AvenirLTD';
  src: url('/fonts/Avenir/AvenirNextLTPro-Demi.ttf') format('truetype');
}

@font-face {
  font-family: 'AvenirLTR';
  src: url('/fonts/Avenir/AvenirNextLTPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AvenirLTB';
  src: url('/fonts/Avenir/AvenirNextLTPro-Bold.ttf') format('truetype');
}

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

a {
  color:white;
  text-decoration:none;
  display:inline-block;
  line-height:1.5;
}

#app, html, body {
  height:100%;
}

#app {
  overflow-x:hidden;
}

#customBtn {
      display: flex;
      flex-flow:row nowrap;
      padding:1px;
      justify-content: space-between;
      background: white;
      color: #444;
      align-items: center;
      border-radius: 5px;
      border: thin solid #888;
      white-space: nowrap;
    }
    #customBtn:hover {
      cursor: pointer;
      color:#4285F4;
    }
    span.label {
      font-family: serif;
      font-weight: normal;
    }
    span.icon {
      background: url('/img/g-logo.png') white 50% no-repeat;
      display: block;
      border-radius: 12px;
      min-width: 95px;
      padding:70px;
      height: 80px;
      zoom:25%;
      -moz-zoom:25%;
      -webkit-zoom:25%;
    }
    span.buttonText {
      display: block;
      padding:0 12px;
      font-size: 13px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto', sans-serif;
    }

.rv-xy-plot__series--label-text {
  color:#ffffff !important;
  font-family:'SSPB';
}
